<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="ImageResizer" version="4.0.5" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.3.0" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="SharpDX" version="3.1.1" targetFramework="net452" />
  <package id="SharpDX.D3DCompiler" version="3.1.1" targetFramework="net452" />
  <package id="SharpDX.Direct2D1" version="3.1.1" targetFramework="net452" />
  <package id="SharpDX.Direct3D10" version="3.1.1" targetFramework="net452" />
  <package id="SharpDX.Direct3D9" version="3.1.1" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="3.1.1" targetFramework="net452" />
  <package id="SharpDX.Mathematics" version="3.1.1" targetFramework="net452" />
</packages>